---
layout: default
title: Software Security Audit FAQ
description: "Before we conduct your software security audit, you'll likely have a bunch of questions. Here are some answers."
tags: [Security, Audit]
---

{% assign headerText1 = "The BG Software Security Audit - FAQ" %}
{% include header.html %}

<div class="sm-dynamic-px-container py-6">
  <div class="col-lg-10 mx-auto">
  {% for faq in site.data.faqs %}
    <h2 class="font-size-lg">
      {{ faq.question }}
    </h2>
    <p class="font-size-md pb-3">
      {{ faq.answer }}
    </p>
  {% endfor %}

    <div class="d-flex justify-content-around py-6">
      {%
        include button.html
        link="/software-security-audit/index.html"
        text="Back to<br>Security Audits"
      %}
      {%
        include button.html
        text="Contact Us"
        class="security-contact-us-modal-click"
      %}
    </div>
  </div>
</div>

{% assign current-url = site.url | append: page.url %}
{% include security-contact-us-modal.html redirect=current-url %}
