---
layout: default
title: Blog Library
description: The BG Blog, your resource for all things software.
tags: [Blog]
---

{% assign headerText1 = "Blog" %}
{% include header.html %}
<div class="blog-library__container bg-color-dark-blue">
  <div class="blog-library mx-auto py-8">
    {% for post in site.posts %}
      {% if forloop.first %}
      <div class="blog-library__card d-flex border-bottom border-light">
      {% else %}
      <div class="blog-library__card d-flex border-bottom border-light mt-4">
      {% endif %}
        <div class="bg-library__card__image-container">
          <a name="Link: {{ post.title }}" href="{{ post.url }}">
            <img
              src="/assets/images/blog/{{ post.image }}"
              class="blog-library__card-image mb-4 rounded-lg"
              width="100%"
              alt="{{ post.image-description }}"
            >
          </a>
        </div>
        <div class="blog-library__card__text py-3">
          <a
            href="{{ post.url }}"
            class="px-0 text-decoration-none-important d-inline-block"
            name="{{ post.title }}"
          >
            <h2 class="hover-color-dark-grey color-dark-blue">{{ post.title }}</h2>
          </a>
          <p class="color-dark-blue font-size-md line-height-2">{{ post.description }}</p>
          <p class="d-flex justify-content-between color-light-grey border-top border-light font-size-xs text-right pt-2 text-uppercase">
            <span>
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              <a
                href="{{ post.url }}#disqus_thread"
                class="text-decoration-none-important color-light-grey text-uppercase hover-color-dark-blue"
              >0 Comments</a>
            </span>
            {{ post.date | date: '%B %-d, %Y' }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
