---
layout: default
description: BG Software Team
title: Team
description: Meet our team, the people who will make your software awesome!
tags: [Our Team]
---

{% assign headerText1 = "Our Team" %}
{% include header.html %}
<div id="team" class="d-flex align-items-center flex-column pb-5">
  <div class="max-width-75rem">
    <img
      class="team__team-photo h-auto rounded-bottom-lg"
      src="/assets/images/BG/team_photo2.jpg"
      alt="BG Software Team"
    >
  </div>
  <div class="dynamic-px-container">
    <div class="team__text font-size-md py-5">
      <p>
        This is our family, a team of talented software developers, analysts and customer care pros. For over 13 years, we have been building, maintaining, and enhancing custom software systems that are both easy to use and scalable to our clients' needs.
      </p>
      <p>
        Our process typically involves meeting with your team to learn about your needs, products, and industry. We then formulate a plan to select the appropriate technologies, software architects, and quality assurance team to bring your vision.
      </p>
    </div>
    <div class="team__leaders d-flex">
      <div class="team__leader d-flex flex-column pb-3">
        <div class="team__leader-photo max-width-20rem pb-3">
          <img
            class="w-100 rounded-lg"
            alt="Robin Benningfield, CEO"
            src="/assets/images/BG/robin2.jpg"
          >
        </div>
        <b class="text-center font-size-lg">Robin Wells</b>
        <span class="text-center font-size-md">Chief Executive Officer</span>
      </div>

      <div class="team__leader d-flex flex-column pb-3">
        <div class="team__leader-photo max-width-20rem pb-3">
          <img
            class="w-100 rounded-lg"
            alt="Robin Benningfield, CEO"
            src="/assets/images/BG/brent.jpg"
          >
        </div>
        <b class="text-center font-size-lg">Brent Boli</b>
        <span class="text-center font-size-md">Director of Operations</span>
      </div>
    </div>
    <div class="team__robin-quote font-size-md font-italic py-5">
      <p>
        "For me and my team, it's all about connecting with clients on a one-on-one level, getting to know their needs and ensuring they receive the highest-quality support and products."
      </p>
      <p>
        - Robin
      </p>
    </div>
  </div>

  {% include pre-footer-buttons.html %}
</div>