<div class="bg-color-blue rounded-xl">
  <h3 class="color-white py-2 px-3">
    <a
      id="amc-text-{{ number }}-open"
      aria-label="plus sign button"
      data-toggle="collapse"
      href="#amc-text-{{ include.number }}"
      role="button"
      aria-expanded="false"
      aria-controls="amc-text-{{ include.number }}"
      onclick="toggleText('amc-text-{{ include.number }}', true)"
    >
      <i
        class="fa fa-plus-circle color-white"
        aria-hidden="true"
      ></i>
    </a>
    <a
      id="amc-text-{{ include.number }}-close"
      data-toggle="collapse"
      href="#amc-text-{{ include.number }}"
      role="button"
      aria-expanded="false"
      aria-controls="amc-text-{{ include.number }}"
      onclick="toggleText('amc-text-{{ include.number }}')"
      class="d-none"
    >
      <i
        class="fa fa-minus-circle color-white"
        aria-hidden="true"
      ></i>
    </a>
    {{ include.title }}:
  </h3>
</div>

<div id="amc-text-{{ include.number }}" class="collapse">
  <div class="py-4">
    <h2 class="pb-3">The Challenge:</h2>
    <p class="font-size-md line-height-2">
      {{ include.challenge }}
    </p>
  </div>

  <div class="py-4">
    <h2 class="pb-3">The Technology:</h2>
    <div class="d-flex justify-content-around">
    {% for tech in include.technologies %}
      <div class="w-10rem d-flex align-items-center">
        <img
          class="w-80"
          src="/assets/images/technologies/{{ tech }}.png"
          alt="{{ page.header-text }}"
        >
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="py-4">
    <h2 class="pb-3">The Outcome:</h2>
    <p class="font-size-md line-height-2">
      {{ include.outcome }}
    </p>
  </div>

  {%- if include.quote-content and include.quote-signature-%}
  <div class="py-4">
    <h2 class="pb-3">What They Said:</h2>
    <div class="case-study-americasmart-content__quote font-size-lg line-height-1pt75 font-italic">
      <p>
        {{ include.quote-content }}
      </p>
      <p>
        {{ include.quote-signature }}
      </p>
    </div>
  </div>
  {%- endif -%}
</div>
