<div id="footer" class="footer position-relative bg-color-primary shadow-lg pt-5 pb-7 pb-6 d-flex justify-content-around" data-aos="fade-up">

  <!--- Contact Information. --->
  <div id="contact" class="d-flex flex-column align-content-start w-75">
    <span class="color-tertiary">400 Plaza Drive, Suite 120</span>
    <span class="color-tertiary">Folsom, CA 95630</span>
    <a href="tel:1-916-221-3110"  class="color-tertiary">916.221.3110</a>
    <a href="mailto:customsoftware@benningfieldgroup.com"  class="color-tertiary">customsoftware@benningfieldgroup.com</a>
  </div>

  <!--- Social Media Logos and Links. --->
  <div id="social-media" class="d-flex w-25">
    {% for app in site.data.socialMedia %}
    <div class="h-5 w-4rem">
      <a href="{{ site.baseurl }}{{ app.link }}" target="_blank">
        <img class="img-fluid h-2rem" src="{{ site.baseurl }}{{ app.imagePath }}"></img>
      </a>
    </div>
    {% endfor %}
  </div>

</div>