<div id="footer" class="footer position-relative bg-color-dark-blue shadow-lg py-5 d-flex justify-content-around font-size-sm">

  <!--- Contact Information. --->
  <div class="footer__contact-info footer__block d-flex flex-column align-content-start color-white">
    <span>400 Plaza Drive, Suite 120</span>
    <span>Folsom, CA 95630</span>
    <a href="tel:1-916-221-3110" class="color-white">833.754.3313 (Toll Free)</a>
    <a href="mailto:customsoftware@benningfieldgroup.com" class="color-white">customsoftware@benningfieldgroup.com</a>
  </div>

  <div class="footer__copyright footer__block color-white d-flex align-items-center justify-content-center">
    <span>BG Software © 2019</span>
  </div>

  <!--- Social Media Logos and Links. --->
  <div class="footer__social-media footer__block d-flex">
    {% for app in site.data.socialMedia %}
      <a href="{{ site.baseurl }}{{ app.link }}" target="_blank" class="px-1">
        <i class="footer__icon fa {{ app.img-class-sq }} color-white font-size-3" aria-hidden="true"></i>
      </a>
    {% endfor %}
  </div>
</div>