<nav id="navigation-bar" class="navbar navbar-expand-lg navbar-light shadow-sm bg-white py-1">
  <a href="/" class="p-0 d-flex align-items-center">
    <img class="navigation-bar__bg-logo" src="{{site.baseurl}}/assets/images/BG/logo_02.png">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" >
    <span class="navbar-toggler-icon" onclick="openNav()"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for item in site.data.navigation %}
      <li class="nav-item px-2">
        <a class="nav-link font-size-pt-9" href="{{ item.link }}">{{ item.name }}</a>
      </li>
      {% endfor %}
      {% for app in site.data.socialMedia %}
      <li class="nav-item px-2 d-flex align-items-center">
        <a
          href="{{ site.baseurl }}{{ app.link }}"
          target="_blank"
          class="px-1 navigation-bar__link"
        >
          <i class="navigation-bar__icon {{ app.name }} fa {{ app.img-class }} color-dark-grey font-size-2" aria-hidden="true"></i>
        </a>
      </li>
      {% endfor %}
      <li class="nav-item px-2 d-flex align-items-center">
        <a
          href="mailto:customsoftware@benningfieldgroup.com"
          class="px-1 navigation-bar__link"
        >
          <i class="navigation-bar__icon mail fa fa-envelope color-dark-grey font-size-2" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>

  <!--- Navigation Overlay Menu. --->
  <script src="{{ site.baseurl }}/assets/js/navOverlay.js"></script>

  <div id="navigation-overlay" class="navigation-overlay">
    <a
      href="javascript:void(0)"
      class="closebtn"
      onclick="closeNav()"
    >&times;</a>
    <div class="navigation-overlay__content">
      <div class="d-flex flex-column">
        {% for item in site.data.navigation %}
          <span class="navigation-overlay__text">
            <a href="{{ item.link }}" class="navigation-overlay__text d-inline-block">{{ item.name }}</a>
          </span>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-between w-75 mx-auto pt-3">
        {% for app in site.data.socialMedia %}
        <a
          href="{{ site.baseurl }}{{ app.link }}"
          target="_blank"
          class="px-1 navigation-bar__link"
        >
          <i class="navigation-bar__icon {{ app.name }} fa {{ app.img-class }} font-size-2"></i>
        </a>
        {% endfor %}
        <a href="mailto:customsoftware@benningfieldgroup.com" class="px-1 navigation-bar__link">
          <i class="navigation-bar__icon mail fa fa-envelope font-size-2" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

</nav>

