<nav id="navigation-bar" class="navbar sticky-top navbar-expand-lg navbar-light shadow-sm p-3 mb-5 bg-white">
  <img src="{{site.baseurl}}/assets/images/BG/LogoBGS_1.png" class="w-10">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for item in site.data.navigation %}
      <li class="nav-item">
        <a class="nav-link" href={{ item.link }}>{{ item.name }} <span class="sr-only">(current)</span></a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
