{% if page.url == "/" %}
<nav id="navigation-bar" class="navbar navbar-expand-lg navbar-dark py-1 position-absolute navbar-fixed-top fixed-top navbar-inverse bg-inverse navigation-bar-dark">
  <a href="/" class="p-0 d-flex align-items-center">
    <img class="navigation-bar__bg-logo" src="/assets/images/BG/logo_03.png">
  </a>
{% else %}
<nav id="navigation-bar" class="navbar navbar-expand-lg navbar-light shadow-sm py-1 position-relative">
  <a href="/" class="p-0 d-flex align-items-center">
    <img class="navigation-bar__bg-logo" src="/assets/images/BG/logo_02.png">
  </a>
{% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" >
    <span class="navbar-toggler-icon" onclick="openNav()"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for item in site.data.navigation %}
      <li class="nav-item px-2">
        {% if page.url == "/" %}
        <a class="nav-link nav-link-transparent font-size-sm color-white" href="{{ item.link }}">{{ item.name }}</a>
        {% else %}
        <a class="nav-link nav-link-color font-size-sm hover-color-light-blue color-dark-blue" href="{{ item.link }}">{{ item.name }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

  <!--- Navigation Overlay Menu. --->
  <script src="/assets/js/navOverlay.js"></script>

  <div id="navigation-overlay" class="navigation-overlay">
    <a
      href="javascript:void(0)"
      class="closebtn"
      onclick="closeNav()"
    >&times;</a>
    <div class="navigation-overlay__content">
      <div class="d-flex flex-column">
        <span class="navigation-overlay__text">
          <a href="/" class="navigation-overlay__text d-inline-block hover-color-light-blue">Home</a>
        </span>
        {% for item in site.data.navigation %}
          <span class="navigation-overlay__text">
            <a href="{{ item.link }}" class="navigation-overlay__text d-inline-block hover-color-light-blue">{{ item.name }}</a>
          </span>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-between w-75 mx-auto pt-3">
        {% for app in site.data.socialMedia %}
        <a
          href="{{ app.link }}"
          target="_blank"
          class="px-1 navigation-bar__link"
        >
          <i class="navigation-bar__icon hover-color-{{ app.name }} fa {{ app.img-class }} font-size-2"></i>
        </a>
        {% endfor %}
        <a href="mailto:customsoftware@benningfieldgroup.com" class="px-1 navigation-bar__link">
          <i class="navigation-bar__icon mail hover-color-grey fa fa-envelope font-size-2" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

</nav>

