<div id="pre-footer-buttons" class="d-flex justify-content-center w-100 pb-3">
  <div class="pre-footer-buttons__inner-container d-flex justify-content-around">

    <!-- Optionally display this button -->
    {% if include.hasSoftwareDevelopment %}
      <div class="pt-2 pb-2 d-flex align-content-center">
        {%
          include button.html
          link="/capabilities/software-development.html"
          text="Software Development"
        %}
      </div>
    {% endif %}

    <!-- Optionally display this button -->
    {% if include.hasSoftwareDevelopmentProcess %}
      <div class="pt-2 pb-2 d-flex align-content-center">
        {%
          include button.html
          link="/process.html"
          text="Software Development<br />Process"
        %}
      </div>
    {% endif %}

    <!-- Always display this buttonn -->
    <div class="pt-2 pb-2 d-flex align-content-center">
      {%
        include button.html
        link="/contact-form.html"
        text="Contact Us"
      %}
    </div>

  </div>
</div>
