<div id="pre-footer-buttons" class="d-flex justify-content-center w-100">
  <div class="pre-footer-buttons__inner-container d-flex justify-content-around py-5">
  <!--- If exclude process is true, don't show the process button. --->
  {% if excludeProcess == true %}
  {% else %}
    <a
      href="/process"
      class="button btn cta-button-blue font-weight-light w-9rem"
    >
      Software Development Process
    </a>
  {% endif %}

    <a
      href="/contact-form"
      class="button btn cta-button-blue font-weight-light w-9rem"
    >
      Contact Us
    </a>
  </div>
</div>