<div id="pre-footer-buttons" class="d-flex justify-content-center w-100">
  <div class="pre-footer-buttons__inner-container d-flex justify-content-around">

    <!--- If exclude process is true, don't show the process button. --->
  {% if excludeProcess == true %}
    <div class="pt-5 pb-4 d-flex align-content-center">
      {%
        include button.html
        link="/capabilities/software-development.html"
        text="Software Development"
      %}
    </div>
  {% else %}
    <div class="pt-5 pb-4 d-flex align-content-center">
      {%
        include button.html
        link="/process.html"
        text="Software Development<br />Process"
      %}
    </div>
  {% endif %}

    <div class="pt-5 pb-4 d-flex align-content-center">
      {%
        include button.html
        link="/contact-form.html"
        text="Contact Us"
      %}
    </div>

  </div>
</div>