.about-us-content {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 5rem;
  img {
    width: 55%;
  }

  p {
    padding-top: 1rem;
    width: 40%;
  }
}

@media only screen and (max-width: 1100px) {
  .about-us-content {
    width: 75%;
    flex-direction: column;

    img {
      height: auto;
      width: 100%;
    }

    p {
      padding-left: 1rem;
      text-align: center;
      width: 100%;
    }
  }
}

#robin-image {
  max-width: 400px;
}



.scroll-up-button {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.15s ease-in-out;
}

.scroll-up-button:hover {
  box-shadow: 0 5px 15px #888888;
}

// .scroll-up-button {
//   border-radius: 50%
// }

// .scroll-up-button:hover{
//   -o-transition:.25s;
//   -ms-transition:.25s;
//   -moz-transition:.25s;
//   -webkit-transition:.25s;
//   transition:.25s;
//   box-shadow: 5px 5px 2.5px #888888;
// }



// CSS for template A
.about-us-content {
  #robin-quote { width: 35%; }
}
#contact-buttons { width: 25%; }

@media only screen and (max-width: 1100px) {
  .about-us-content {
    #robin-quote { width: 50%; }

  }
  #contact-buttons { width: 40%; }
}

@media only screen and (max-width: 768px) {
  .about-us-content {
    #robin-quote { width: 100%; }

  }
  #contact-buttons { width: 60%; }
}

