.bg-image-parallax {
  background:  url(https://media.giphy.com/media/4H3Ii5eLChYul9p7NL/giphy.gif) no-repeat center center fixed;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
