.blog-post {
  padding-left: $px-size-mobile;
  padding-right: $px-size-mobile;
}

.blog-post__content { max-width: 50rem; }

.blog-post__text {
  a {
    color: $teal;
    @extend .hover-color-dark-blue;
  }
}

.blog-post__image { width: 100%; }

@mixin blog-post--md() {
  .blog-post {
    padding-left: $px-size-md;
    padding-right: $px-size-md;
  }
}

@mixin blog-post--lg() {
  .blog-post__image { width: 85%; }
}

@mixin blog-post--xl() {
  .blog-post {
    padding-left: $px-size-xl;
    padding-right: $px-size-xl;
  }
}