.blog-library__card__image { @include transition(filter, $image-transition-speed); }
.blog-library__card__image:hover { filter: brightness(66%); }

.blog-library__card { flex-direction: column; }

.blog-library {
  padding-left: $px-size-mobile;
  padding-right: $px-size-mobile;
}

@mixin blog-library--md() {
  .blog-library {
    padding-left: 3%;
    padding-right: 3%;
  }

  .bg-library__card__image-container { width: 45%; }

  .blog-library__card__text { width: 55%; }

  .blog-library__card { flex-direction: row; }

  .blog-library__card__text { padding-left: 3rem; }
}

@mixin blog-library--lg() {
  .blog-library {
    width: 75%;
    border-right: 1px solid $lightest-grey;
    padding-right: 2rem;
    max-width: 70rem;
  }
}

@mixin blog-library--xl() {
  .blog-library { padding-left: 15%; }
}