// Removes highlighting outline on everything.
*:focus {
  outline: 0;
  outline: none;
}

.rounded-lg { border-radius: 0.5rem; }

.rounded-bottom-lg {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rounded-top-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-xl { border-radius: 1.5rem; }


@each $color, $hex in $site-colors {
  .border-left-#{$color} { border-left: 1px solid $hex !important; }
  .border-right-#{$color} { border-right: 1px solid $hex !important; }
  .border-top-#{$color} { border-top: 1px solid $hex !important; }
  .border-bottom-#{$color} { border-bottom: 1px solid $hex !important; }
  .border-#{$color} { border: 1px solid $hex !important; }
}