.bg-color-primary { background-color: $primary-color; }
.bg-color-secondary { background-color: $secondary-color; }
.bg-color-tertiary { background-color: $tertiary-color; }
.bg-color-quinary { background-color: $quinary-color; }
.bg-color-quaternary { background-color: $quaternary-color; }
.bg-color-septenary { background-color: $septenary-color; }
.bg-color-octonoary { background-color: $octonary-color; }

.color-white { color: $white; }
.color-primary { color: $primary-color; }
.color-secondary { color: $secondary-color; }
.color-tertiary { color: $tertiary-color; }
.color-quinary { color: $quinary-color; }
.color-quaternary { color: $quaternary-color; }
.color-septenary { color: $septenary-color; }
.color-octonoary { color: $octonary-color; }