.bg-color-dark-blue { background-color: $dark-blue; }
.bg-color-blue { background-color: $blue; }
.bg-color-light-blue { background-color: $light-blue }
.bg-color-dark-grey { background-color: $dark-grey }
.bg-color-light-blue { background-color: $light-blue }
.bg-color-white { background-color: $white }
.bg-color-lighter-blue { background-color: $lighter-blue }

.color-white { color: $white; }
.color-dark-blue { color: $dark-blue; }
.color-blue { color: $blue; }
.color-light-blue { color: $light-blue }
.color-dark-grey { color: $dark-grey }
.color-light-blue { color: $light-blue }
.color-white { color: $white }
.color-lighter-blue { color: $lighter-blue }