// CSS for template A
#custom-software-box {
  width: 50%;
}

@media only screen and (max-width: 1100px), only screen and (max-device-width: 1100px) {
  #custom-software-box { width: 70%; }
}


@media only screen and (max-width: 800px), only screen and (max-device-width: 768px) {
  #custom-software-box { width: 90%; }
}

