body {
  font-family: 'Lato', sans-serif !important;
}

.font-1pnt25 {
  font-size: 1.25rem;
}

@for $i from 1 through 5 {
  .font-size-#{$i} { font-size: #{$i}rem; }
}

.font-weight-lighter {
  font-weight: lighter;
}

@media only screen and (max-device-width: 768px) {
  body {
    font-size: 2rem;
  }
}
