body {
  font-family: 'Lato', sans-serif !important;
}

@for $i from 1 through 5 {
  .font-size-#{$i} { font-size: #{$i}rem; }
}

.font-weight-lighter {
  font-weight: lighter;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 2rem;
  }
}
