.footer a:hover { color: $light-blue !important; }

.footer__block {
  width: 100%;
  padding-bottom: 1rem;
}

#footer {
  flex-direction: column;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.footer__contact-info { text-align: center; }

.footer__copyright, .footer__social-media { justify-content: center; }

.footer__icon {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer__icon:hover { color: $light-grey; }

@mixin footer--lg() {
  #footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__block { width: 33%; }

  .footer__contact-info { text-align: left;
  }

  .footer__copyright {
    align-items: center;
  }

  .footer__social-media {
    justify-content: flex-end;
  }
}

@mixin footer--xl() {
  #footer {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}
