.footer a:hover {
  color: $tertiary-color !important;
}

.footer a {
  color: $tertiary-color !important;
}

.footer a:visited {
  color: $tertiary-color !important;
}


.footer {
  padding-left: 10rem;
  padding-right: 10rem;
  word-wrap: break-word;

  #social-media {
    justify-content: space-between;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1176px) {
  .footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (max-width: 760px) {
  .footer {
    padding-left: 0;
    padding-right: 0;

    #contact {
      padding-left: 2rem;
    }

  }
}

@media only screen and (max-width: 448px) {
  .footer {
    #contact {
      font-size: .75rem;
    }
    #social-media {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}