.headline__headline {
  font-size: 2rem;
}

.headline__text {
  font-size: 1.25rem;
  width: 90%;
}


@mixin headline--md() {
  .headline__headline { font-size: 2.75rem; }

  .headline__text {
    font-size: 1.75rem;
    width: 45rem;
  }
}

@mixin headline--lg() {
  .headline__headline { font-size: 3rem; }

  .headline__text { font-size: 2rem; }
}

@mixin headline--xl() {
  .headline__headline { font-size: 3.5rem; }
}