/*
 * Headline.
 */
#headline {
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url('./images/misc/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline__video { margin-left: auto; }

.headline__left { padding-bottom: 1rem; }

@mixin headline--md() {
  .headline__right {
    margin-right: auto;
    margin-left: 0;
  }
}

@mixin headline--lg() {
  .headline__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding-right: 1rem;
    padding-bottom: 0;
  }

  .headline__right { width: 55%; }

  .headline__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .headline__title { font-size: 2.45rem; }
  .headline__subtitle { font-size: 1.1rem; }
}
/* End of Headline. */



/**
 * Why Custom Software?
 */
.custom-software__text { width: 95%; }

@mixin custom-software--lg() {
  .custom-software__text { width: 60%; }
}
/* End of Why Custom Software? */



/**
 * Why Benningfield Group?
 */
 .about-us__content {
  flex-direction: column;
  align-items: center;
}

.about-us__image { width: 95%; }

.about-us__text {
  width: 95%;
  text-align: center;
}


@mixin about-us__md() {

  .about-us__image { width: 45rem; }

  .about-us__text { width: 45rem; }
}

@mixin about-us__lg() {
  .about-us__content {
    flex-direction: row;
  }

  .about-us__image {
    width: 60%;
    // min-width: 40rem;
  }

  .about-us__text {
    text-align: left;
    width: 40%;
    padding-left: 2rem;
  }
}

@mixin about-us__xl() {
  .about-us__content {
    flex-direction: row;
    max-width: 90%;
  }

  .about-us__image {
    width: 50%;
    // min-width: 40rem;
  }

  .about-us__text {
    text-align: left;
    width: 50%;
    padding-left: 2rem;
  }
}
/* End of Why Benningfield Group? */



/**
 * Services.
 */
.services__cards {
  flex-direction: column;
  align-items: center;
}

.services__card-title { min-height: 1.5rem; }

.services__card { width: 90%; }

@mixin services__sm() {
  .services__card { max-width: 40rem; }
}

@mixin services__lg() {
  .services__cards {
    flex-direction: row;
    align-items: flex-start;
  }

  .services__card {
    min-height: 40rem;
    max-width: 25rem;
  }
}

@mixin services__xl() {
  .services__card {
    min-height: 38rem;
    max-width: 25rem;
  }
}
/* End of Services. */

.headline__content {
  padding-left: 1rem;
  padding-right: 1rem;
}

/**
 * Let's Talk Software.
 */
@mixin lets-talk-software__sm() {
  .lets-talk-software__quote { width: 30rem; }
}
/**
 * Scroll Up Button (at bottom of page)
 */
.scroll-up-button {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.15s ease-in-out;
}

.scroll-up-button:hover {
  box-shadow: 0 5px 15px #888888;
}
/* End of Scroll Up Button */



/**
 * CTA Buttons.
 */
.cta-button-tertiary {
  padding: 10px 20px;
  background-color: $primary-color;
  color: $white;
  border: solid 1px $white;
}

.cta-button-tertiary:hover {
  background-color: $white;
  color: $primary-color;
  border: solid 1px $primary-color;
}

.cta-button-primary {
  font-size: 2rem;
  background-color: $tertiary-color;
  color: $primary-color;
}

.cta-button-primary:hover {
  background-color: $primary-color;
  color: $tertiary-color;
  border: solid 1px $tertiary-color;
}
/* End of CTA buttons. */