/*
 * Headline.
 */
#headline {
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url('./images/misc/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline__video { margin-left: auto; }

.headline__left { padding-bottom: 1rem; }

@mixin headline--md() {
  .headline__right {
    margin-right: auto;
    margin-left: 0;
  }
}

@mixin headline--lg() {
  .headline__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding-right: 1rem;
    padding-bottom: 0;
  }

  .headline__right { width: 55%; }

  .headline__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .headline__title { font-size: 2.45rem; }
}
/* End of Headline. */



/**
 * Why Custom Software?
 */
.custom-software__text { width: 95%; }

@mixin custom-software--lg() {
  .custom-software__text { width: 60%; }
}
/* End of Why Custom Software? */



/**
 * Services.
 */
.services__cards {
  flex-direction: column;
  align-items: center;
}

.services__card {
  max-width: 40rem;
  width: 90%;
}

.services__card-title { min-height: 1.5rem; }

.services__card-points { padding-inline-start: 20px; }

@mixin services--lg() {
  .services__cards {
    flex-direction: row;
    align-items: flex-start;
  }

  .services__card {
    min-height: 35rem;
    max-width: 25rem;
  }
}

@mixin services__xl() {
  .services__card {
    min-height: 38rem;
    max-width: 25rem;
  }
}
/* End of Services. */



/**
 * Survey.
 */
.survey__groups {
  flex-direction: column;
}

.survey__group {
  flex-direction: column;
}


@mixin survey--md() {
  .survey__group {
    flex-direction: row;
  }
}

@mixin survey--lg() {
  .survey__groups {
    flex-direction: row;
  }

  .survey__card {
    min-height: 25rem;
    max-width: 21rem;
  }
}

@mixin survey--xl() {
  .survey__groups {
    width: 90%;
  }
}
/* End of Survey.*/



/**
 * About Us.
 */
.about-us__content {
  flex-direction: column;
  justify-content: space-between;
}

.about-us__image-container { display: none; }

.about-us__text { padding: 1.5rem; }

@mixin about-us--md() {
  .about-us__content {
    flex-direction: column;
    justify-content: space-between;
  }

  .about-us__image-container {
    display: block;
    margin: auto;
  }
}

@mixin about-us--lg() {
  .about-us__content { flex-direction: row; }

  #why-bg-software { .about-us__text { padding-right: 1.5rem; } }

  #lets-talk-software { .about-us__text { padding-left: 1.5rem; } }

  .about-us__image-container {
    width: 48%;
    margin: 0;
  }

  .about-us__text {
    width: 48%;
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin about-us__xl() {
  .about-us__content { flex-direction: row; }
}
/* End of About Us. */



/**
 * Capabilities and Clients.
 */
.capabilities__carousel .clients__carousel {
  width: 100%
}

@mixin capabilities-and-clients__sm() {
  .capabilities__carousel { width: 40rem; }

  .clients__carousel { width: 30rem; }
}

@mixin capabilities-and-clients__md() {
  .clients__carousel { width: 50rem; }
}

@mixin capabilities-and-clients--lg() {
  .capabilities__carousel { width: 62rem; }
}


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d5a8a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d5a8a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/* End of Capabilities and Clients.*/



/**
 * Scroll Up Button (at bottom of page)
 */
.scroll-up-button {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.15s ease-in-out;
}

.scroll-up-button:hover {
  box-shadow: 0 5px 15px #888888;
}
/* End of Scroll Up Button */



/**
 * CTA Buttons.
 */
.cta-button-tertiary {
  padding: 10px 20px;
  background-color: $primary-color;
  color: $white;
  border: solid 1px $white;
}

.cta-button-tertiary:hover {
  background-color: $white;
  color: $primary-color;
  border: solid 1px $primary-color;
}

.cta-button-primary {
  font-size: 2rem;
  background-color: $tertiary-color;
  color: $primary-color;
}

.cta-button-primary:hover {
  background-color: $primary-color;
  color: $tertiary-color;
  border: solid 1px $tertiary-color;
}
/* End of CTA buttons. */