$nav-link-transition-speed: .5s; /* Speed for nav link border animation. */

#navigation-bar {
  position: relative;
  width: 100%;
  padding-left: .25rem;
  padding-right: .25rem;
}

@mixin navigation-bar--md() {
  #navigation-bar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.navigation-bar__icon {
  -webkit-transition: color $nav-link-transition-speed;
  transition: color $nav-link-transition-speed;
}

// .navigation-bar__icon:hover { color: $light-grey; }

.nav-link {
  color: $primary-color !important;
  border-bottom: solid $white;

  -webkit-transition: border-color $nav-link-transition-speed linear; /* Saf3.2+, Chrome */
     -moz-transition: border-color $nav-link-transition-speed linear; /* FF3.7+ */
       -o-transition: border-color $nav-link-transition-speed linear; /* Opera 10.5 */
          transition: border-color $nav-link-transition-speed linear;
}

.navigation-bar__link {
  .fa-facebook:hover {
    color: $light-grey !important;
    border-color: $light-grey;
  }
}

.navbar-nav {
  .nav-link.active {
    color: $secondary-color !important;
    border-color: $secondary-color
  }
}



.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $primary-color;
  opacity: 0.95;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.25rem;
  color: $white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
