$nav-link-transition-speed: .5s; /* Speed for nav link border animation. */

#navigation-bar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top .3s;
  padding-left: .25rem;
  padding-right: .25rem;
}

@mixin navigation-bar--md() {
  #navigation-bar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.navigation-bar__icon {
  -webkit-transition: color $nav-link-transition-speed;
  transition: color $nav-link-transition-speed;
}

.navigation-bar__icon:hover { color: $light-grey; }

.nav-link {
  color: $primary-color !important;
  border-bottom: solid $white;

  -webkit-transition: border-color $nav-link-transition-speed linear; /* Saf3.2+, Chrome */
     -moz-transition: border-color $nav-link-transition-speed linear; /* FF3.7+ */
       -o-transition: border-color $nav-link-transition-speed linear; /* Opera 10.5 */
          transition: border-color $nav-link-transition-speed linear;
}

.nav-link:hover {
  color: $light-grey !important;
  border-color: $light-grey;
}

.navbar-nav {
  .nav-link.active {
    color: $secondary-color !important;
    border-color: $secondary-color
  }
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}