body {
  font-family: 'Lato', sans-serif !important;
}

.font-family-lato {
  font-family: 'Lato', sans-serif;
}

@for $i from 1 through 5 {
  .font-size-#{$i} { font-size: #{$i}rem; }
}

.font-weight-lighter { font-weight: lighter; }

.line-height-1     { line-height: 1; }
.line-height-1pt25 { line-height: 1.25; }
.line-height-1pt5  { line-height: 1.5; }
.line-height-1pt75 { line-height: 1.75; }
.line-height-2     { line-height: 2; }

$font-size-xs: .6;
$font-size-sm: .75;
$font-size-md: .9;
$font-size-lg: 1.05;
$font-size-xl: 1.5;

.font-size-xs { font-size: #{$font-size-xs}rem !important; }
.font-size-sm { font-size: #{$font-size-sm}rem !important; }
.font-size-md { font-size: #{$font-size-md}rem !important; }
.font-size-lg { font-size: #{$font-size-lg}rem !important; }
.font-size-xl { font-size: #{$font-size-xl}rem !important; }

@mixin font-size--md() {
  .font-size-xs { font-size: #{$font-size-xs + .1}rem !important; }
  .font-size-sm { font-size: #{$font-size-sm + .1}rem !important; }
  .font-size-md { font-size: #{$font-size-md + .25}rem !important; }
  .font-size-lg { font-size: #{$font-size-lg + .25}rem !important; }
}
