$white:   #fff;

/* BG theme colors. */
$grey-1:  #b6b8c4;
$grey-2:  #9c9fae;
$grey-3:  #a09ea7;
$grey-4:  #8a8996;
$grey-5:  #7c7d88;
$grey-6:  #80879a;
$grey-7:  #687489;
$grey-8:  #616172;
$grey-9:  #5f616e;
$grey-10: #3e4356;
$grey-11: #424958;
$blue-1:  #d1d9ed;
$blue-2:  #bacbe9;
$blue-3:  #a7bce2;
$blue-4:  #94aedb;
$blue-5:  #a5a9c4;
$blue-6:  #8188ac;
$blue-7:  #60709a;
$blue-8:  #3d5a8a;
$blue-9:  #1b283d;

$dark-blue:     $blue-9;
$blue:          $blue-8;
$light-blue:    $blue-4;
$lighter-blue:  $blue-2;
$lightest-blue: $blue-1;
$darkest-grey:  $grey-11;
$dark-grey:     $grey-9;
$grey:          $grey-5;
$light-grey:    $grey-3;
$lighter-grey:  $grey-1;

$lightest-grey: #f1f1f1;
$teal:          #13aff0;

/* Social media colors. */
$facebook-blue:  #4267b2;
$twitter-blue:   #38A1F3;
$linkedin-blue:  #0077B5;
$youtube-red:    #ED3833;
$instagram-pink: #E1306C;

/* Colors used to make classes. */
$site-colors: (
  "white":         $white,
  "dark-blue":     $dark-blue,
  "blue":          $blue,
  "light-blue":    $light-blue,
  "lighter-blue":  $lighter-blue,
  "lightest-blue": $lightest-blue,
  "darkest-grey":  $darkest-grey,
  "dark-grey":     $dark-grey,
  "grey":          $grey,
  "light-grey":    $light-grey,
  "lightest-grey": $lightest-grey,
  "teal":          $teal,
  "facebook":      $facebook-blue,
  "twitter":       $twitter-blue,
  "linkedin":      $linkedin-blue,
  "youtube":       $youtube-red,
  "instagram":     $instagram-pink
);

/* Overrides bootstrap colors. */
$primary: $dark-blue;
$light: $lightest-grey;

$link-hover-decoration: none;

$body-bg: $white;
$body-color: $dark-blue;

/* Speed for general color transitions. */
$color-transition-speed: .25s;

/* Speed for darkening of link image transitions. */
$image-transition-speed: .25s;

/* Padding sizes: Use if you want to match the padding in the navigation bar. */
$px-size-mobile: 1.5rem; /* The padding sides size for mobile views. */

$px-size-md: 3%; /* The padding sides size for medium views. */

$px-size-xl: 15%; /* The padding sides size for extra large views. */


/* Margin and padding sizes (rem). */
$spaceamounts: (5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);

/* Heights for vh classes. */
$heights: (75, 80, 85, 90, 95, 100);
