.blog-library__card-image { @include transition(filter, $image-transition-speed); }

.blog-library__card-image:hover { filter: brightness(66%); }

.blog-library__card {
  flex-direction: column;
  background-color: $white;
}

.blog-library {
  padding-left: $px-size-mobile;
  padding-right: $px-size-mobile;
  background-color: $white;
}

@mixin blog-library--md() {
  .blog-library {
    padding-left: 3%;
    padding-right: 3%;
  }

  .bg-library__card__image-container { width: 45%; }

  .blog-library__card__text { width: 55%; }

  .blog-library__card { flex-direction: row; }

  .blog-library__card__text { padding-left: 3rem; }
}

@mixin blog-library--lg() {
  .blog-library {
    width: 75%;
    max-width: 70rem;
    border-radius: 0.5%;
  }

  .blog-library__container { padding-top: 2rem; }
}