.capability__video-container {
  width: 100%;
}

.capability-image-container {
  display: none;
}

.capability-text {
  width: 100%;
}

@mixin capability--lg() {
  .capability__video-container {
    width: 75%;
  }

  .capability-image-container {
    display: flex;
    width: 35%;
  }

  .capability-text {
    width: 65%;
  }
}
