.case-study__client {
  flex-direction: column-reverse;
}

.case-study__client-text, .case-study__client-image-container {
  width: 100%;
}

.case-study__client-image {
  width: 50%;
  max-width: 200px;
}

.challenge {
  visibility: visible;
  opacity: 1;
}

.challenge-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

@mixin case-study--sm() {
  .case-study__client-image {
    width: 35%;
  }
}

@mixin case-study--md() {
}

@mixin case-study--lg() {
  .case-study__client {
    flex-direction: row;
  }

  .case-study__client-text {
    width: 80%;
  }

  .case-study__client-image-container {
    width: 20%;
  }

  .case-study__client-image {
    width: 90%;
  }
}

@mixin case-study--xl() {

}