.contact-us {
  padding-left: $px-size-sm;
  padding-right: $px-size-sm;
}

.contact-us__content { flex-direction: column; }

.contact-us__image-container { display: none; }

.contact-us__field {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.contact-us-__submit-btn-container  { text-align: center; }

@mixin contact-us--md() {
  .contact-us {
    padding-left: $px-size-md;
    padding-right: $px-size-md;
  }

  .contact-us__content {
    justify-content: space-between;
    flex-direction: row;
  }

  .contact-us__image-container {
    background-image: url("/assets/images/misc/american_river_bike_trail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    width: 28em;
  }

  .hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .contact-us__form { width: 50%; }

  .contact-us-__submit-btn-container  { text-align: left; }
}

@mixin contact-us--xl() {
  .contact-us {
    padding-left: $px-size-xl;
    padding-right: $px-size-xl;
  }
}