.cta-button-blue {
  height: 5rem;
  width: 14rem;
  overflow: hidden;
  text-align: center;
  background-color: $blue;
  color: $white;
  border: solid 1px $blue;
  border-radius: 0.5rem;
}

.cta-button-blue:hover {
  background-color: $dark-blue;
  color: $white;
  border: solid 1px $dark-blue;
}