.header {
  height: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__text {
  font-size: 2rem;
}

@mixin header--md() {
  .header {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@mixin header--lg() {
  .header__text {
    font-size: 2.5rem;
  }
}

@mixin header--xl() {
  .header {
    padding-left: 20%;
    padding-right: 20%;
  }
}

