/* Headline. */
#headline {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.headline__video {
  position: absolute;
  top: 49.9%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* End of Headline. */



/* Homepage Blogs. */
#homepage-blogs { min-height: 50rem; }

.homepage-blog__card {
  min-height: 20rem;
  margin: .25rem;
  width: 11rem;
  @include transition(box-shadow, $color-transition-speed);
}

.homepage-blogs__carousel { height: 44rem; }

.homepage-blog__card:hover {
  box-shadow: 0 .25rem 1rem #888888;
}

.homepage-blog__image-container {
  height: 10rem;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.homepage-blog__card-description { display: none; }

@mixin homepage-blog--sm() {
  #homepage-blogs { height: 60rem; }

  .homepage-blogs__carousel {
    max-width: 42rem;
    height: 54rem;
  }

  .homepage-blog__card {
    width: 15rem;
    min-height: 25rem;
  }

  .homepage-blog__card-description { display: block; }
}

@mixin homepage-blog--md() {
  #homepage-blogs { height: 70rem; }

  .homepage-blog__image-container { height: 15rem; }

  .homepage-blogs__carousel {
    max-width: 50rem;
    height: 64rem;
  }

  .homepage-blog__card {
    width: 20rem;
    min-height: 30rem;
  }

}

@mixin homepage-blog--lg() {
  #homepage-blogs {
    height: 40rem;
    min-height: 0;
  }

  .homepage-blog__image-container { height: 10rem; }

  .homepage-blogs__carousel {
    max-width: 85rem;
    height: 34rem;
  }

  .homepage-blog__card {
    width: 12rem;
    min-height: 29rem;
  }
}

@mixin homepage-blog--xl() {
  .homepage-blog__image-container { height: 15rem; }

  .homepage-blog__card { width: 17rem; }
}
/* End of Homepage Blogs. */



/* Why Custom Software? */
.custom-software__text { width: 95%; }

@mixin custom-software--lg() {
  .custom-software__text { width: 60%; }
}
/* End of Why Custom Software? */



/* Services. */
.services__cards {
  flex-direction: column;
  align-items: center;
}

.services__card {
  max-width: 40rem;
  width: 90%;
}

.services__card-title { min-height: 1.5rem; }

.services__card-points { padding-inline-start: 20px; }

.service__icon { @include transition(filter, $image-transition-speed); }

.service__icon:hover { filter: brightness(75%); }

@mixin services--lg() {
  .services__cards {
    flex-direction: row;
    align-items: flex-start;
  }

  .services__card {
    min-height: 25rem;
    max-width: 25rem;
  }
}

@mixin services__xl() {
  .services__card {
    min-height: 30rem;
    max-width: 25rem;
  }
}
/* End of Services. */



/* Survey. */
.survey__groups {
  flex-direction: column;
}

.survey__group {
  flex-direction: column;
}

@mixin survey--md() {
  .survey__group {
    flex-direction: row;
  }
}

@mixin survey--lg() {
  .survey__groups {
    flex-direction: row;
  }

  .survey__card {
    min-height: 25rem;
    max-width: 21rem;
  }
}

@mixin survey--xl() {
  .survey__groups {
    width: 90%;
  }
}
/* End of Survey.*/



/* Testimonials. */
.testimonials__carousel { width: 100% }

.testimonials__carousel-container {
  width: 90%;
  min-height: 25rem;
}

@mixin testimonials--sm() {
  .testimonials__carousel { width: 32rem; }
}

@mixin testimonials--md() {
  .testimonials__carousel { width: 50rem; }
}

@mixin testimonials--lg() {
  .testimonials__carousel { width: 62rem; }
}

@mixin testimonials--xl() {
  .testimonials__carousel { width: 70rem; }
}
/* End of Testimonials. */


/* Capabilities. */
.capabilities__carousel { width: 100%; }

.capabilities__carousel-image-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 8rem;
};

@mixin capabilities--sm() {
  .capabilities__carousel { width: 32rem; }
}

@mixin capabilities--md() {
  .capabilities__carousel { width: 45rem; }
}

@mixin capabilities--lg() {
  .capabilities__carousel { width: 62rem; }

  .capabilities__carousel-image-container {
    width: 10rem;
  };
}

@mixin capabilities--xl() {
  .capabilities__carousel { width: 70rem; }

  .capabilities__carousel-image-container {
    margin-left: 2rem;
    margin-right: 2rem;
  };
}
/* End of Capabilities. */



/* Clients. */
.clients__content { width: 100%; }

@mixin clients--sm() {
  .clients__content { width: 30rem; }
}

@mixin clients--md() {
  .clients__content { width: 45rem; }
}

@mixin clients--lg() {
  .clients__content {
    width: 55rem;
    display: flex;
    justify-content: space-between;
  }
}

@mixin clients--xl() {
  .clients__content { width: 55rem; }
}
/* End of Clients. */



/* CTA Buttons. */
.cta-button-tertiary {
  padding: 10px 20px;
  background-color: $dark-blue;
  color: $white;
  border: solid 1px $white;
}

.cta-button-tertiary:hover {
  background-color: $white;
  color: $dark-blue;
  border: solid 1px $dark-blue;
}
/* End of CTA buttons. */



/* Carousel Controls. */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d5a8a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d5a8a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}