/*
 * Headline.
 */
#headline {
  background-image:
    linear-gradient( rgba(104, 116, 137,0.9), rgba(104, 116, 137,0.9) ),
    url('./images/misc/hero-3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline__content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.headline__video { margin-left: auto; }

.headline__right { padding-bottom: 1rem; }

.headline__video-overlay {
  background-image:url('./images/BG/video_overlay_white.png');
  background-repeat:no-repeat;
  width:100%;
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
}

@mixin headline--md() {
  .headline__left {
    margin-right: auto;
    margin-left: 0;
  }
}

@mixin headline--lg() {
  .headline__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-left: 1rem;
  }

  .headline__left { width: 55%; }

  .headline__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .headline__title { font-size: 2.45rem; }

  .video-wrap { max-width: 650px; }
}

@mixin headline--xl() {
  .headline__content { width: 80%; }

  .headline__right, .headline__left { width: 50%; }
}

/* Set your aspect ratio */
.headline__video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.headline__video-container iframe,
.headline__video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.video-wrap {
  width: 100%;
}
/* End of Headline. */



/**
 * Homepage Blogs.
 */
#homepage-blogs { height: 50rem; }

.homepage-blog__card {
  min-height: 20rem;
  margin: .25rem;
  width: 11rem;
  @include transition(box-shadow, $color-transition-speed);
}

.homepage-blog__card:hover {
  box-shadow: 0 .25rem 1rem #888888;
}

.homepage-blog__image-container {
  height: 10rem;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.homepage-blog__card-description { display: none; }

@mixin homepage-blog--sm() {
  #homepage-blogs { height: 60rem; }

  .homepage-blogs__carousel { max-width: 42rem; }

  .homepage-blog__card {
    width: 15rem;
    min-height: 25rem;
  }

  .homepage-blog__card-description { display: block; }
}

@mixin homepage-blog--md() {
  #homepage-blogs { height: 70rem; }

  .homepage-blog__image-container { height: 15rem; }

  .homepage-blogs__carousel { max-width: 50rem; }

  .homepage-blog__card {
    width: 20rem;
    min-height: 30rem;
  }

}

@mixin homepage-blog--lg() {
  #homepage-blogs { height: 40rem; }

  .homepage-blog__image-container { height: 10rem; }

  .homepage-blogs__carousel { max-width: 85rem; }

  .homepage-blog__card {
    width: 12rem;
    min-height: 29rem;
  }
}

@mixin homepage-blog--xl() {
  .homepage-blog__image-container { height: 15rem; }

  .homepage-blog__card { width: 17rem; }
}
/* End of Homepage Blogs. */



/**
 * Why Custom Software?
 */
.custom-software__text { width: 95%; }

@mixin custom-software--lg() {
  .custom-software__text { width: 60%; }
}
/* End of Why Custom Software? */



/**
 * Services.
 */
.services__cards {
  flex-direction: column;
  align-items: center;
}

.services__card {
  max-width: 40rem;
  width: 90%;
}

.services__card-title { min-height: 1.5rem; }

.services__card-points { padding-inline-start: 20px; }

@mixin services--lg() {
  .services__cards {
    flex-direction: row;
    align-items: flex-start;
  }

  .services__card {
    min-height: 35rem;
    max-width: 25rem;
  }
}

@mixin services__xl() {
  .services__card {
    min-height: 38rem;
    max-width: 25rem;
  }
}
/* End of Services. */



/**
 * Survey.
 */
.survey__groups {
  flex-direction: column;
}

.survey__group {
  flex-direction: column;
}


@mixin survey--md() {
  .survey__group {
    flex-direction: row;
  }
}

@mixin survey--lg() {
  .survey__groups {
    flex-direction: row;
  }

  .survey__card {
    min-height: 25rem;
    max-width: 21rem;
  }
}

@mixin survey--xl() {
  .survey__groups {
    width: 90%;
  }
}
/* End of Survey.*/



/**
 * About Us.
 */
.about-us__content {
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.about-us__image-container { display: none; }



.about-us__text {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@mixin about-us--md() {
  .about-us__content {
    flex-direction: column;
    justify-content: space-between;
  }

  .about-us__image-container {
    padding-top: 1.5rem;
    display: block;
    margin: auto;
    text-align: center;
  }

  #lets-talk-software__robin-image { width: 50%; }
}

@mixin about-us--lg() {
  .about-us__content { flex-direction: row; }

  #why-bg-software { .about-us__text { padding-right: 1.5rem; } }

  #lets-talk-software { .about-us__text { padding-left: 1.5rem; } }

  .about-us__image-container {
    width: 48%;
    margin: 0;
  }

  .about-us__text {
    width: 48%;
    padding-left: 0;
    padding-right: 0;
  }

  #lets-talk-software__robin-image {
    width: 100%;
  }
}

@mixin about-us__xl() {
  .about-us__content { flex-direction: row; }
}
/* End of About Us. */



/**
 * Capabilities and Clients.
 */
.capabilities__carousel .clients__content {
  width: 100%
}

@mixin capabilities-and-clients__sm() {
  .capabilities__carousel { width: 40rem; }

  .clients__content { width: 30rem; }
}

@mixin capabilities-and-clients__md() {
  .clients__content { width: 50rem; }
}

@mixin capabilities-and-clients--lg() {
  .capabilities__carousel { width: 62rem; }

  .clients__content {
    display: flex;
    justify-content: space-between;
  }
}

@mixin capabilities-and-clients--xl() {
  .capabilities__carousel { width: 70rem; }

  .clients__content { width: 55rem; }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d5a8a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233d5a8a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/* End of Capabilities and Clients.*/



/**
 * CTA Buttons.
 */
.cta-button-tertiary {
  padding: 10px 20px;
  background-color: $dark-blue;
  color: $white;
  border: solid 1px $white;
}

.cta-button-tertiary:hover {
  background-color: $white;
  color: $dark-blue;
  border: solid 1px $dark-blue;
}

.cta-button-primary {
  font-size: 2rem;
  background-color: $light-blue;
  color: $dark-blue;
}

.cta-button-primary:hover {
  background-color: $dark-blue;
  color: $light-blue;
  border: solid 1px $light-blue;
}
/* End of CTA buttons. */