#navigation-bar {
  width: 100%;
  padding-left: .25rem;
  padding-right: .25rem;
}

.navigation-bar-dark { background:rgba(10,10,10,0.1); }

.navigation-bar__bg-logo { width: 15rem; }

@mixin navigation-bar--md() {
  #navigation-bar {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@mixin navigation-bar--lg() {
  .navigation-bar__bg-logo { width: 20rem; }
}

@mixin navigation-bar--xl() {
  #navigation-bar {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.navigation-bar__icon {
  @include transition(color, $color-transition-speed);
}


.nav-link {
  -webkit-transition: color $color-transition-speed linear, border-color $color-transition-speed linear; /* Saf3.2+, Chrome */
     -moz-transition: color $color-transition-speed linear, border-color $color-transition-speed linear; /* FF3.7+ */
       -o-transition: color $color-transition-speed linear, border-color $color-transition-speed linear; /* Opera 10.5 */
          transition: color $color-transition-speed linear, border-color $color-transition-speed linear;
}

.nav-link-transparent {
  color: $white;
  border-bottom: solid transparent;
}
.nav-link-transparent:hover { border-color: $white; }

.nav-link-color {
  color: $dark-blue;
  border-bottom: solid $white;
}
.nav-link-color:hover { border-color: $blue; }

.navigation-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $dark-blue;
  opacity: 0.95;
  overflow-x: hidden;
  transition: 0.5s;
}

.navigation-overlay__content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
}

.navigation-overlay a {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: $white;
  display: block;
  transition: 0.3s;
}

.navigation-overlay a:hover, .navigation-overlay a:focus { color: #f1f1f1; }

.navigation-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
