.team__team-photo {
  display: block;
  width: 100%;
}

.team__leaders {
  align-items: center;
  flex-direction: column;
}


@mixin team--md() {
  .team__leaders {
    flex-direction: row;
    justify-content: space-around;
  }
}
