---
layout: default
comments: true
---

<div class="blog-post mt-6 d-flex flex-column justify-content-center font-size-md pb-6">
  <div class="blog-post__content mx-auto w-100">
    <div class="blog-post__image-container pb-5 text-center">
      <img src="/assets/images/blog/{{ page.image }}" class="blog-post__image rounded-lg">
    </div>
    <h1 class="border-bottom border-light pb-2">{{ page.title }}</h1>

    <!--- Article meta information. --->
    <span class="color-light-grey font-size-sm text-center">
    {% assign author = site.authors | where: 'name', page.author | first %}
    {% if author %}
      <i class="fa fa-user" aria-hidden="true"></i>
      <span>{{ author.name }}</span>
      &nbsp;-&nbsp;
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      {{ page.date | date: '%B %d, %Y'}}
      &nbsp;-&nbsp;
      <i class="fa fa-folder-o" aria-hidden="true"></i>
      <a
        href="/blog-library"
        class="color-light-grey hover-color-teal"
      >The BG Blog Library
      </a>
      &nbsp;-&nbsp;
      <i class="fa fa-comment-o" aria-hidden="true"></i>
      <a
        href="{{ post.url }}#disqus_thread"
        class="color-light-grey text-capitalize hover-color-teal"
      >0 Comments</a>
    {% endif %}
    </span>
    <!--- End of article meta inforation. --->

    <div class="px-2 line-height-1pt75 py-8">
      <!--- Blog content. --->
      <div class="blog-post__text pb-5">
        {{ content }}
      </div>
      <!--- End of blog content. --->

      <!--- Author information. --->
      <div class="font-weight-bold pb-1 font-italic">{{ author.quote }}</div>
      <a
        href="mailto:{{ author.email }}"
        class="pt-4 color-teal hover-color-dark-blue"
      >{{ author.email }}</a>
      <!--- End of author information. --->

      <div class="pt-10">
        <b class="font-size-xs text-uppercase">
          Tags:
          {% for tag in page.tags %}
            {{ tag }}{% if forloop.last == false %},{% endif %}
          {% endfor %}
        </b>
      </div>
    </div>

    <!--- Share buttons. --->
    <div class="sharethis-inline-share-buttons pb-5"></div>
    <!--- End of Share buttons. --->

    <!--- Links to previous and next post. --->
    <div class="d-flex justify-content-between">
      <div class="w-40 text-left">
        {% if page.previous.url %}
          <a
            class="previous next color-teal hover-color-dark-blue"
            href="{{page.previous.url}}"
          >
            Previous Post
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          </a>
          <h5>{{ page.previous.title }}</h5>
        {% endif %}
      </div>
      <div class="w-40 text-right">
        {% if page.next.url %}
          <a
            href="{{page.next.url}}"
            class="next color-teal hover-color-dark-blue"
          >
            Next Post
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </a>
          <h5>{{ page.next.title }}</h5>
        {% endif %}
      </div>
    </div>
    <!--- End of previous and next post links. --->


    <!--- Comments section. --->
    {% if page.comments %}
      <div id="disqus_thread" class="py-8"></div>
      <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://bg-software-test.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>
  <!--- End of comments sections. --->
</div>
