---
layout: default
---

{% assign headerText1 = page.title %}
{% include header.html %}
<div id="capability" class="dynamic-px-container py-5">
  <div class="capability__video-container mx-auto py-4">
    <video
      controls
      class="rounded-lg w-100"
    >
      <source src="/assets/videos/capabilities/{{ page.video }}#t=1.1" type="video/mp4">
    </video>
  </div>

  <div class="py-6">
    <h2 class="text-center">{{ page.subtitle }}</h2>
    <div class="capability__image-text-container d-flex py-4">
      <div class="capability-image-container align-items-center justify-content-center">
        <img
          class="w-80"
          src="/assets/images/services/{{ page.image }}"
          alt="{{ page.title }}"
        >
      </div>
      <div class="capability-text">
        <p class="font-size-md line-height-2">{{ page.text }}</p>
      </div>
    </div>
  </div>

  <div class="pt-4 pb-10">
    <h2 class="pb-3 text-center">
      To see our {{ page.title }} skills in action, check out the following case studies:
    </h2>
    <div class="d-flex w-100 justify-content-around pb-5">
      {% assign excludes = page.case-study-excludes | split: "," %}
      {% include case-studies.html %}
    </div>
  </div>


  {% include pre-footer-buttons.html %}
</div>