<html lang="en">
  {% seo %}
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="icon" type="image/png" href="/assets/images/BG/square_logo.png">
    <meta name="viewport" content="width=device-width">
    {% if page.tags %}
      <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
    {% endif %}
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5cfff7a04351e90012650329&product=inline-share-buttons' async='async'></script>
    <script async>(function(w, d) { w.CollectId = "5ced95b2829bd47f4515b522"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
    {% include google-analytics.html %}
    {% include hotjar-tracking.html %}
  </head>
  <body data-spy="scroll">
    <script src="{{ '/assets/vendor/dist/lib.min.js' }}?{{site.time | date: '%s%N'}}"></script>

    <script src="/assets/js/animations.js"></script>
    <script src="/assets/js/modal.js"></script>
    <script>AOS.init();</script>

    {% include navigation.html %}
    <div class="min-height-75vh">
      {{ content }}
      {% include scroll-top.html %}
      {% include capabilities-modal.html %}
      {% include case-studies-modal.html %}
    </div>
    {% include footer.html %}

    {% include insight.html %}
    <script id="dsq-count-scr" src="//bg-software.disqus.com/count.js" async></script>
  </body>
</html>
