<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body data-spy="scroll">
    <script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{ site.baseurl }}/assets/js/navLinkAnimate.js"></script>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
    <link href="https://snatchbot.me/sdk/webchat.css" rel="stylesheet" type="text/css"><script src="https://snatchbot.me/sdk/webchat.min.js"></script><script> Init('?botID=52408&appID=webchat', 400, 500, 'https://dvgpba5hywmpo.cloudfront.net/media/image/vAHdZY0t5i3OHPlLmaOEBNvp1', 'bubble', '#00AFF0', 90, 90, 62.99999999999999, '', '1', '#FFFFFF', '#FFFFFF', 0); /* for authentication of its users, you can define your userID (add &userID={login}) */ </script>
  </body>
</html>
